/* Song List*/
.song-number button {
    position: relative;
}
.song-number .material-icons {
    left: 16px;
    left: calc(16px + 0.2rem);
    opacity: 0;
    position: absolute;
    top: 0.25rem;
    z-index: 30;
}
.song-number button:hover .song-play,
.current-song .song-pause,
.current-song .song-number button:hover .song-pause,
.current-song-paused .song-play {
    opacity: 1;
}
.current-song .song-number button:hover .song-play,
.song-number button:hover .song-number-showing,
.current-song .song-number-showing,
.current-song-paused .song-pause,
.current-song-paused .song-number-showing {
    opacity: 0;
}

/* Player Bar */
#buttons,
#time-control,
#volume-control {
    margin-bottom: 2em;
    padding: 0 2em;
}
#buttons button {
    margin: 0 0.5em;
}
#time-control,
#volume-control {
    display: flex;
}
.player-bar input[type="range"] {
    background: hsla(260,100%,63%,0.1);
    color: #fff;
}
